*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    --x: 400px;
    --y: 400px;
}

body{
    background-image: url('https://images.pexels.com/photos/34540965/pexels-photo-34540965.jpeg');
    background-size: cover;
}

#box{
    height: 100%;
    width: 100%;
    background: radial-gradient(100px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.848) )
}

