*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(22, 21, 21);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#box{
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
}

#container h1{
    font-size: 3rem;
    color: #6556CD;
}

#btn{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #6556CD;
    transition: all 0.3s ease-in-out;
}

#btn:active{
    scale: 0.9;
}