@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  height: 100%;
}

html{
  background-color: #111;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  padding-block: 1rem;
  padding-inline: 3rem;
  justify-content: center;
  gap: 1rem;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: 20rem;
}

h1{
  font-size: 2rem;
}

p{
  font-size: 1rem;
}

.create-note{
  display: flex;
  /* flex-direction: column; */
  padding-block: 1rem;
  padding-inline: 3rem;
  justify-content: center;
  gap: 2rem;
  /* max-width: 20rem; */
}

.create-note input{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.create-note button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #494949;
  color: white;
}

.buttons{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.note button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #703434;
  color: white;
}